/* Author: Rohit Mehta */

/* Redressed fonts.
* usage: font-family: 'Redressed', cursive; 
*/

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
:root {
    --light-bg-color: #edeaaa;
    --bg-color: #a8835a;
    --shadows: #714b23;
    --purplish-color: #401b4d;
    --book-bg-color: #d3af87;
    --form-bg-color: #c9c7aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--bg-color);
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: var(--light-bg-color);
    font-family: 'Redressed', cursive;
    font-size: 48pt;
    text-align: center;
    color: var(--purplish-color);
    text-shadow: 1px 1px var(--shadows);
    padding: .65px;
    box-shadow: 0 1px 2px var(--shadows);
}

button.add-book {
    display: block;
    background-color: var(--book-bg-color);
    border: 0;
    font-size: 1.2em;
    padding: .5rem;
    width: 150px;
    margin: 1rem auto;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--shadows);
    transition: all 0.5s ease-out;
}

button.add-book:hover {
    background-color: var(--bg-color);
}

button.add-book:active {
    box-shadow: 0 -2px 2px var(--shadows) inset;
}

/* form */

.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    visibility: hidden;
    transition: visibility 25ms ease;
}

form {
    width: 360px;
    margin: auto;
    padding: 1rem;
    border-radius: 24px;
    background: var(--form-bg-color);
    box-shadow: -4px 4px 2px var(--shadows);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--purplish-color)
}

.form-title {
    font-family: 'Redressed', cursive;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
}

form .buttons {
    height: 2.5em;
    width: 50%;
    margin: auto;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--purplish-color);
    background: var(--light-bg-color);
    border: 1px solid transparent;
    border-radius: 12px;
    box-shadow: -2px 2px 5px var(--shadows);
}

form .cancel {
    background: lightcoral;
}

form .buttons:active {
    box-shadow: none;
}

.field>* {
    display: inline-block;
    width: 100%;
}

.field input {
    height: 2rem;
}

/* shelf */

.shelf {
    padding: 1.5rem;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* each book element inside of shelf */

.book {
    position: relative;
    width: 150px;
    height: 200px;
    border: 1px solid var(--shadows);
    box-shadow: -3px 3px 1px var(--shadows);
    padding: .85em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--book-bg-color);
}

/* book title */

.title {
    font-weight: bold;
}

/* book author */

.author {
    font-size: 0.90em;
}

/* book read-status */

.read {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    border: 1px solid black;
    padding: .5em;
    border-top: 1px solid var(--shadows);
    border-radius: 14px;
    background-color: var(--form-bg-color);
    cursor: pointer;
}

.read:active {
    background-color: var(--light-bg-color);
}

/* pg */

.pg {
    font-size: .75em;
    font-style: italic;
}

/* close book icon */

.close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: lightcoral;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer {
    margin: .50em auto;
    text-align: center;
    font-size: smaller;
    font-family: 'Redressed', cursive;
}

a {
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
